<section class="phx-hero">
  <h1>Private and Confidential</h1>
</section>

<section class="row">
  <p>
    We don't owned any of the services that involves crypto currency information.
    Everything that related to crypto currency that YOU see from the chatbot are
    coming from Coin Gecko public API.
  </p>
</section>
